/* Start Global Variables */
:root {
  --primary-color: #f38c2a;
  --secondary-color: #4d4d4d;
  --main-transition: 0.3s;
}
/* End Global Variables */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* Start Container Screens */
/* small screens */
@media (max-width: 768px) {
  .container {
    width: 720px;
  }
}
/* medium screens */
@media (max-width: 992px) {
  .container {
    width: 960px;
  }
}
/* larg screens */
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
/* End Container Screens */
body {
  font-family: "Open Sans", sans-serif;
}
/* Start Header */
.header-area {
  width: 100%;
}
.header-area .container {
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page .header-area .logo {
  color: var(--secondary-color);
  font-size: 32px;
}
.page .header-area .logo span {
  color: var(--primary-color);
}
.page .header-area .main-menu li {
  display: inline-block;
  margin-left: 20px;
}
.page .header-area .main-menu li a {
  color: var(--secondary-color);
  font-size: 1em;
  font-weight: bold;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.page .header-area .main-menu li a.active,
.page .header-area .main-menu li a:hover {
  color: var(--primary-color);
}
/* End Header Area */
/* Start Settings Box */
.settings-box {
  position: fixed;
  left: -250px;
  top: 0;
  width: 250px;
  min-height: 100vh;
  background-color: rgba(127, 127, 127, 0.3);
  z-index: 200;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.settings-box.open {
  left: 0;
}
.settings-box .toggle-settings {
  width: 30px;
  height: 30px;
  position: absolute;
  right: -30px;
  top: 132px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.settings-box .box-options {
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  background-color: rgb(237, 237, 237, 0.6);
}
.settings-box .box-options:first-of-type {
  margin-top: 60px;
}
.settings-box .box-options h4 {
  font-size: 16px;
  color: var(--secondary-color);
}
.settings-box .box-options .colors {
  margin: 10px auto;
  width: fit-content;
}
.settings-box .box-options .colors li {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}
.settings-box .box-options .colors li.active {
  border: 2px solid white;
  outline: 2px solid var(--secondary-color);
}
.settings-box .box-options .colors li:first-child {
  background-color: #f38c2a;
}
.settings-box .box-options .colors li:nth-child(2) {
  background-color: #448aff;
}
.settings-box .box-options .colors li:nth-child(3) {
  background-color: #c2185b;
}
.settings-box .box-options .colors li:nth-child(4) {
  background-color: #8bc34a;
}
.settings-box.open .settings-icon {
  animation: fixing 0.8s infinite;
  -webkit-animation: fixing 0.8s infinite;
}
.settings-box .random-bg span {
  display: inline-block;
  margin-top: 10px;
  background-color: var(--primary-color);
  padding: 2px 10px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 2px;
  cursor: pointer;
  opacity: 0.5;
  transition: var(--main-transition);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.settings-box .random-bg span.active {
  opacity: 1;
  box-shadow: 0 0 4px;
}
.settings-box .random-bg .no {
  margin-left: 5px;
}
/* End Settings Box */
/* Start Landing Page */
.landing-page {
  width: 100%;
  height: calc(100vh - 60px);
  background-image: url("../images/03.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.landing-page .overlay {
  position: absolute;
  left: 0;
  height: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.landing-page .content {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  z-index: 2;
  color: white;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
/* End Landing Page */
/* Start Animation */
@keyframes fixing {
  0%,
  100% {
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
  }
  50% {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
  }
}
/* End Animation */
