/* Start Global Variables */
:root {
  /* --primary-color: #f38c2a; */
  --primary-color: #ffc81a;
  --secondary-color: #4d4d4d;
  --secondary-alt-color: #041e42;
  --main-transition: 0.3s;
}
/* End Global Variables */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* Start Container Screens */
/* small screens */
.container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .container {
    width: 720px;
  }
}
/* medium screens */
@media (max-width: 992px) {
  .container {
    width: 960px;
  }
}
/* larg screens */
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
/* End Container Screens */
body {
  font-family: "Open Sans", sans-serif;
}
.page {
  position: relative;
}
/* Start Header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  height: fit-content;
  overflow-x: hidden;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.header .top-bar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header .top-bar .container > div {
  font-style: italic;
  width: 50%;
}
.header .top-bar a {
  color: white;
}
.header .top-bar ul {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header .top-bar li a,
.header .top-bar li i {
  cursor: pointer;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.header .top-bar li a:hover,
.header .top-bar li i:hover {
  color: var(--primary-color);
}
.header.nav-scrolled .nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.header .nav-bar .container {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header .nav-bar .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header .nav-bar .logo img {
  height: 60px;
  width: 60px;
}
.nav-scrolled .logo img {
  content: url("../images/logo.png");
  margin-top: 10px;
}
.header .nav-bar .logo .company-name > span {
  display: block;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.nav-scrolled .nav-bar .logo .company-name > span {
  color: var(--secondary-color);
}
.header .nav-bar .logo .company-name > span:last-of-type {
  font-size: 13px;
}
.header .nav-bar .logo .company-name > span span {
  color: var(--primary-color);
}
.header .nav-bar .logo span {
  color: var(--primary-color);
}
.header .nav-bar .menu {
  display: flex;
  align-items: center;
  flex: 1;
}
.header .menu .main-menu {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
}
.header .menu .main-menu li:first-child {
  margin-left: 40px;
}
.header .menu .main-menu li a {
  font-size: 14px;
  text-transform: uppercase;
}
.header .main-menu::before,
.header .main-menu::after {
  position: absolute;
  content: "";
  width: 100%;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.header .nav-bar .main-menu::before {
  z-index: -2;
  height: 60px;
  background-color: var(--primary-color);
}
.header .nav-bar .main-menu::after {
  left: 0;
  top: 0;
  height: 0px;
  background-color: white;
}
.header.nav-scrolled .main-menu::after {
  height: 70px;
  z-index: -1;
}
.header .main-menu li a {
  color: var(--secondary-color);
  font-size: 1em;
  font-weight: bold;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.header .main-menu li a.active,
.header .main-menu li a:hover {
  color: white;
}
.nav-scrolled .main-menu li a.active,
.nav-scrolled .main-menu li a:hover {
  color: var(--primary-color);
}
.header .search-box {
  width: 100px;
  margin-left: 20px;
  padding: 15px;
}
/* End Header Area */
/* Start Settings Box */
.settings-box {
  position: fixed;
  left: -250px;
  top: 0;
  width: 250px;
  min-height: 100vh;
  background-color: rgba(127, 127, 127, 0.3);
  z-index: 200;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.settings-box.open {
  left: 0;
}
.settings-box .toggle-settings {
  width: 30px;
  height: 30px;
  position: absolute;
  right: -30px;
  top: 120px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.settings-box .box-options {
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  background-color: rgb(237, 237, 237, 0.6);
}
.settings-box .box-options:first-of-type {
  margin-top: 120px;
}
.settings-box .box-options h4 {
  font-size: 16px;
  color: var(--secondary-color);
}
.settings-box .box-options .colors {
  margin: 10px auto;
  width: fit-content;
}
.settings-box .box-options .colors li {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}
.settings-box .box-options .colors li.active {
  border: 2px solid white;
  outline: 2px solid var(--secondary-color);
}
.settings-box .box-options .colors li:first-child {
  background-color: #ffc81a;
}
.settings-box .box-options .colors li:nth-child(2) {
  background-color: #448aff;
}
.settings-box .box-options .colors li:nth-child(3) {
  background-color: #c2185b;
}
.settings-box .box-options .colors li:nth-child(4) {
  background-color: #8bc34a;
}
.settings-box.open .settings-icon {
  animation: fixing 0.8s infinite;
  -webkit-animation: fixing 0.8s infinite;
}
.settings-box .random-bg span {
  display: inline-block;
  margin-top: 10px;
  background-color: var(--primary-color);
  padding: 2px 10px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 2px;
  cursor: pointer;
  opacity: 0.5;
  transition: var(--main-transition);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.settings-box .random-bg span.active {
  opacity: 1;
  box-shadow: 0 0 4px;
}
.settings-box .random-bg .no {
  margin-left: 5px;
}
/* End Settings Box */
/* Start Landing Page */
.landing-page {
  width: 100%;
  height: calc(100vh);
  background-image: url("../images/03.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.landing-page .overlay {
  position: absolute;
  left: 0;
  height: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.landing-page .content {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  z-index: 1;
  color: white;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.landing-page .content p {
  color: #ccc;
}
.landing-page .content a {
  display: inline-block;
  padding: 15px 25px;
  margin-top: 25px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--primary-color);
  color: white;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.landing-page .content a:last-child {
  margin-left: 10px;
  background-color: white;
  color: var(--secondary-color);
}
.landing-page .content a:hover {
  color: white;
  background-color: var(--secondary-alt-color);
}
/* End Landing Page */
/* Start Why choosing Us */
/* End Why choosing Us */
.choose-us {
  background-color: var(--primary-color);
}
.choose-us .container {
  display: flex;
  align-items: center;
}
.choose-us .card {
  background-color: white;
  width: 200px;
}
.choose-us .card img {
  width: 210px;
}
/* Start Animation */
@keyframes fixing {
  0%,
  100% {
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
  }
  50% {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
  }
}
/* End Animation */
